<header>
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container">
      <a class="navbar-brand" routerLink="">Todo-API</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="icon-link icon-link-hover ml-2" style="--bs-link-hover-color-rgb: 25, 135, 84;" routerLink="/create">Nueva Tarea</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
